html{
    background-image: url("../img/background.jpg");
    height: 100%;
    background-color: cyan;

      /* Center and scale the image nicely */
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    align-content: center;
    text-align: center;
    justify-items: center;
}


.maincontent {
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightblue;
    opacity: 100%;
    height: auto;
    margin: 0 15%;
    width: 70%;
    text-align: center;
    border-radius: 10px;
}


#heading{
    font-size: 10vw;
    font-family: 'Cabin Sketch';
    text-emphasis-color: green;
}

#indextext1{
    font-size: 20px;
    padding-left: 25%;
    width:50%;
    text-align:center;
}

hr{
    width: 100%;
    border-radius: 1px;
    border-style: solid;
}

.container {
    height: 100vh;
    overflow: hidden;
  }



.tabcontainer{
    background-color:gray;
    border-radius: 10px;
    animation: 0.5s linear;
    height: 50vh;
    width: 30%;
    margin-left:20%;
}

.tabtext{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*********************************************************
         history.html
*********************************************************/
/* Top Content */
.historytop{
    display: grid;
    grid-template-columns: 10% 90%;
}

#historytopleft{
    grid-column: 1;
    height: auto;
}

#historytopright{
    grid-column: 2;
    margin-right:11%;
}

/* Middle Content */
#historycontent{

    box-sizing: border-box;
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 50vh;
}

#historycontentmiddle{
    width:60%;
    margin:auto;
    display:flex;
}

#historycontentleft{
    flex-basis: 15%;
    justify-content: center;
    height: 50vh;
}

#historycontentright{
    flex-basis: 15%;
    justify-content: center;
    height: 50vh;
}

#historypicture{
    height: 50vh;
    width: 70vw;
    opacity: 0.5;
}

#historydescription{
    width: 100%;
    height: 30vh;
    background-color:gray;
    color:white;
    font-size: 20px;
}

#historyyear{
    font-size: 2.5vw;
}

#historyheading{
    font-size: 5vw;
}

#historytext{
    margin-left:10%;
    margin-right:10%;
}

#buttonimage{
    width: 100%;
    height: auto;
}

#prevbtn{
    position: absolute;
    z-index: 3;
    width: 20%;
    height: 20%;
    top:33%;
}

#nextbtn{
    position: absolute;
    z-index: 3;
    width: 20%;
    height: 20%;
    top:33%;
    right: 0%;
}




/* Tab Animations */
.tabcontainer:hover{
    animation: scaletab 0.1s ease-in forwards;
}

#backbtn:hover{
    background-color: gray;
}

@keyframes scaletab{

    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

  
/* Snow Animation */
.flake {
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    animation: fall 3s linear forwards infinite;
}
  
  
  @keyframes fall{
    from{
        transform: translateY(-10vh) translateX(0vw) rotate(0deg);
    }
    to{
        transform: translateY(100vh) translateX(20vw) rotate(360deg);  
    }
}



@keyframes appear{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}


/* @media screen and (max-width: 700px){
    nav{
        width: 100%;
        height: auto;
        position: relative;
    }

    nav a{
        text-align: center;
    }

    div.content{
        margin: 0px;
    }
}
 */

  
